 
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

h1{
    margin-bottom: 60px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    
    border-radius: 10px;
    padding:0 10px;
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 50px;

}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: red;
}

.paragrafo-resultado, .bad {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
    border-radius: 15px;
}

.paragrafo-resultado:hover{
    background: rgb(150, 355, 282);
}

.bad{
    background: rgb(109, 255, 182);
}

.bad:hover{
    background: rgb(150, 355, 282);
}